body {
    background-color: #efefef;
}

* {
    font-family: 'Lato', sans-serif;
}

.kanban-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.kanban-column {
    /*background-color: grey;*/
    height: 100%;
    float: left;
}

.kanban-elem {
    background: rgb(186, 190, 196, 0.7);
    background: rgba(186, 190, 196, 0.7);
    height: 100px;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
}

.kanban-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #4286f4;
    text-align: center;
    font-size: 1.2em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.kanban-description{
    padding-left: 5px;
    padding-right: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tilt {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
